<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--context params-->
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/</param-value>
    </context-param>
    <context-param>
        <param-name>dbName</param-name>
        <param-value>shop</param-value>
    </context-param>
    <context-param>
        <param-name>dbUsername</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value/>
    </context-param>
    <!--filters-->
    <filter>
        <filter-name>UrlFilter</filter-name>
        <filter-class>com.ecommerce.filter.UrlFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.ecommerce.filter.LoginFilter</filter-class>
    </filter>
    <!--filters mapping-->
    <filter-mapping>
        <filter-name>UrlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/admin/users</url-pattern>
        <url-pattern>/admin/categories</url-pattern>
        <url-pattern>/admin/items</url-pattern>
        <url-pattern>/admin/comments</url-pattern>
        <url-pattern>/admin/dashboard</url-pattern>
    </filter-mapping>
    <!--servlets-->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.ecommerce.listener.EcommerceContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.ecommerce.admin.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.ecommerce.admin.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>com.ecommerce.admin.controller.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.ecommerce.admin.controller.LogoutController</servlet-class>
    </servlet>
    <!--servlets mapping-->
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>com.ecommerce.admin.controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemController</servlet-name>
        <servlet-class>com.ecommerce.admin.controller.ItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>com.ecommerce.admin.controller.CommentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/admin/categories</url-pattern>
    </servlet-mapping>
    <!--<welcome file list-->
    <servlet-mapping>
        <servlet-name>ItemController</servlet-name>
        <url-pattern>/admin/items</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/admin/comments</url-pattern>
    </servlet-mapping>
</web-app>
