<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--filters-->
    <filter>
        <filter-name>UrlFilter</filter-name>
        <filter-class>com.ecommerce.filter.UrlFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminLoginFilter</filter-name>
        <filter-class>com.ecommerce.filter.AdminLoginFilter</filter-class>
    </filter>
    <!--filters mapping-->
    <filter-mapping>
        <filter-name>UrlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminLoginFilter</filter-name>
        <url-pattern>/admin/users</url-pattern>
        <url-pattern>/admin/categories</url-pattern>
        <url-pattern>/admin/items</url-pattern>
        <url-pattern>/admin/comments</url-pattern>
        <url-pattern>/admin/dashboard</url-pattern>
    </filter-mapping>
    <!--listeners-->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.ecommerce.listener.EcommerceContextListener</listener-class>
    </listener>
    <!--servlets-->
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.ecommerce.admin.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.ecommerce.admin.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>com.ecommerce.admin.controller.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.ecommerce.admin.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>com.ecommerce.admin.controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemController</servlet-name>
        <servlet-class>com.ecommerce.admin.controller.ItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>com.ecommerce.admin.controller.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.ecommerce.customer.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemsOfCategoryController</servlet-name>
        <servlet-class>com.ecommerce.customer.controller.ItemsOfCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutController</servlet-name>
        <servlet-class>com.ecommerce.customer.controller.LogoutController</servlet-class>
    </servlet>
    <!--servlets mapping for admin only-->
    <servlet>
        <servlet-name>LoginRegisterController</servlet-name>
        <servlet-class>com.ecommerce.customer.controller.LoginRegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/admin/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemController</servlet-name>
        <url-pattern>/admin/items</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/admin/comments</url-pattern>
    </servlet-mapping>
    <!--servlets mapping for customer and admin-->
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemsOfCategoryController</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!--context params-->
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/</param-value>
    </context-param>
    <context-param>
        <param-name>dbName</param-name>
        <param-value>shop</param-value>
    </context-param>
    <context-param>
        <param-name>dbUsername</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value/>
    </context-param>
    <context-param>
        <param-name>adminPath</param-name>
        <param-value>/ecommerce/admin/</param-value>
    </context-param>
    <context-param>
        <param-name>adminJspPath</param-name>
        <param-value>/WEB-INF/views/admin/</param-value>
    </context-param>
    <context-param>
        <param-name>adminLayoutPath</param-name>
        <param-value>/ecommerce/resources/admin/layout/</param-value>
    </context-param>
    <context-param>
        <param-name>customerPath</param-name>
        <param-value>/ecommerce/</param-value>
    </context-param>
    <context-param>
        <param-name>customerJspPath</param-name>
        <param-value>/WEB-INF/views/customer/</param-value>
    </context-param>
    <context-param>
        <param-name>customerLayoutPath</param-name>
        <param-value>/ecommerce/resources/customer/layout/</param-value>
    </context-param>
    <context-param>
        <param-name>customerImgPath</param-name>
        <param-value>/ecommerce/resources/customer/img/</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>LoginRegisterController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/404.jsp</location>
    </error-page>
</web-app>
