<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--context params-->
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/</param-value>
    </context-param>
    <context-param>
        <param-name>dbName</param-name>
        <param-value>shop</param-value>
    </context-param>
    <context-param>
        <param-name>dbUsername</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value/>
    </context-param>
    
    <context-param>
        <param-name>publicPath</param-name>
        <param-value>/ecommerce/</param-value>
    </context-param>
    <context-param>
        <param-name>loginJspPath</param-name>
        <param-value>/WEB-INF/views/public/login/</param-value>
    </context-param>
    <context-param>
        <param-name>publicJspPath</param-name>
        <param-value>/WEB-INF/views/public/</param-value>
    </context-param>
    <context-param>
        <param-name>publicLayoutPath</param-name>
        <param-value>/ecommerce/resources/public/layout/</param-value>
    </context-param>
    <context-param>
        <param-name>publicIncludePath</param-name>
        <param-value>/WEB-INF/views/public/include/</param-value>
    </context-param>
    <context-param>
        <param-name>publicImgPath</param-name>
        <param-value>/ecommerce/resources/public/img/</param-value>
    </context-param>
    
    <context-param>
        <param-name>adminPath</param-name>
        <param-value>/ecommerce/admin/</param-value>
    </context-param>
    <context-param>
        <param-name>adminJspPath</param-name>
        <param-value>/WEB-INF/views/admin/</param-value>
    </context-param>
    <context-param>
        <param-name>adminLayoutPath</param-name>
        <param-value>/ecommerce/resources/admin/layout/</param-value>
    </context-param>
    <context-param>
        <param-name>adminIncludePath</param-name>
        <param-value>/WEB-INF/views/admin/include/</param-value>
    </context-param>
    
    <context-param>
        <param-name>customerPath</param-name>
        <param-value>/ecommerce/</param-value>
    </context-param>
    <context-param>
        <param-name>customerJspPath</param-name>
        <param-value>/WEB-INF/views/customer/</param-value>
    </context-param>
    
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/public/error_pages/404.jsp</location>
    </error-page>
<!--    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/public/error_pages/500.jsp</location>
    </error-page>-->
</web-app>
